/*
 *	Cloudoki Superadmin
 *	Bootstrap and Ionic
 */

@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic");

/*
 *	Global
 */
body	{
	padding-top: 40px;
}

/*
 *	Identity
 */
.navbar img.identity	{
	width: 38px; float: left; margin: -9px 10px;
}

/*
 *	Overrides
 */
.btn.addmodel	{
	font-size: 20px;
}
